<div class="list-group">
  <% @artists.each do |artist| %>
    <div class="list-group-item list-group-item-action artist-link" id=<%= "#{artist.id}"%>>
      <h5 href="#" class="list-group-item-heading"><%= artist.name %></h5>
    </div>
  <% end %>
</div>
<script id="json-data"><%=@artists.to_json%></script>
<script src='/scripts/artists.js' type='text/javascript'></script>
