<div class="container-fluid">
  <div class="text-center">
    <h1>create artist</h1>
    <form method="post" action="/artists" enctype='application/x-www-form-urlencoded' id="create-artist">
      <input type="input" name="name" placeholder="Artist Name"></input>
      <input type="submit" value="create"></input>
    </form>
  </div>
</div>
