<script src='/scripts/dropzone.js' type='text/javascript'></script>
<form action="/upload_songs_form" class="dropzone" id="drop-songs">
  <input type="input" name="artist" placeholder="Artist Name"></input>
</form>
