<div class="container-fluid">
  <h1 class="text-center">Search Songs</h1>
  <div class="text-center">
    <p>p.s. only fill out fields for desired search params</p>
    <form method="get" action="/songs" id="search-form">
      Artist name<br>
      <input type="input" name="artist-name" placeholder="artist"></input><br>
      Song name<br>
      <input type="input" name="song-name" placeholder="song"></input><br>
      Recorded between start:<br>
      <input type="date" name="recorded-start"><br>
      Recorded between end:<br>
      <input type="date" name="recorded-end"><br>
      <input type="submit" value="Search"><br>
    </form>
  </div>
</div>
