<form method="post" action="/signup" enctype='application/x-www-form-urlencoded' class="form-signin" id="signup">
  <h2 class="form-signin-heading">Sign Up</h2>
  <label for="username" class="sr-only">Username</label>
  <input type="username" class="form-control" name="username" placeholder="username">
  <label for="password" class="sr-only">Password</label>
  <input type="password" class="form-control" name="password" placeholder="password">
  <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
  <p>Already have an account? <a href="/login">Login</a></p>
</form>
